@import '/src/app/components/base/form/column/column.component.scss';
.my-pagination ::ng-deep .ngx-pagination .current {
  background: none;
  color: #1E1E1E;
}
.my-pagination ::ng-deep .ngx-pagination a, .ngx-pagination button {
  color: #9D9D9D;
}
.img {
  border-radius: 12px 0px 0px 12px;
}