<section style=" background: #F8F8F8; padding: 50px 84px 50px 84px;">
  
  <app-base></app-base>
<div>
  <mat-card *ngFor="let post of publikation |paginate: {itemsPerPage: 4, currentPage: p}">
    <mat-card-content style="display: flex; padding: 0; ">
      <img mat-card-image src="{{post.image}}">
      <div>
        <div style="padding: 15px 40px 20px 15px">
          <h3 style="font-weight: 700; font-size: 16px; line-height: 20px;">{{post.title}}<img style="height: 100%;" src="{{post.image2}}"></h3>
          <p>{{post.text}}<a href="https://t.me/c/1198781209/145">{{post.textUrl}}</a>{{post.text2}}</p>  
        </div>
        <div style="display: flex; justify-content: space-between; padding: 0px 15px 15px 15px; font-size: 12px; line-height: 15px;">
          <span>{{post.data}}</span>
          <a (click)="openPost(post)" class="more">{{post.more}} <img style="width: 5px; height: 8px; margin-left: 10px;" src="/assets/img/body/right-icon.svg"></a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div style="display: flex; justify-content: end; margin-top: 20px;">
  <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
</div>
</section>
