<section>
  <button routerLink="/" class="logo" style="margin-right: 140px;">
    <img src="/assets/img/logo.svg" alt="logo">
  </button>
  <div style="margin-right: 30px;">
    <img src="/assets/img/icon-post.svg">
  </div>

  <button style="margin-right: 219px;" (click)="onClick()">
    <img src="/assets/img/search.svg">
  </button>

  <app-top></app-top>

  <app-module></app-module>

  <div style="margin: 0 20px;">
    <img src="/assets/img/icon-post.svg">
  </div>
  <app-themes></app-themes>
</section>

